{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('app_pages') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('page_edit', {id: page.id}) }}">
                Edit
            </a>
        </li>
    </ul>
    <hr />

    <h1>{{ page.title }}</h1>
    {% for block in page.blocks %}
        {{ block.content.text }}
        <br />
        <a href="{{ path('block_edit', { pageId: page.id, id: block.id }) }}">
            Edit
        </a>
        <hr />
    {% endfor %}
    <a href="{{ path('block_add', { pageId: page.id }) }}">
        Add a block
    </a>

{% endblock %}
