{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('home_pages') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('page_edit', {id: page.id}) }}">
                Edit
            </a>
        </li>
    </ul>
    <hr />

    <h1>{{ page.title }}</h1>
    {% for block in page.blocks %}
        <p>{{ dump(block) }}</p>
    {% endfor %}
    <a href="{{ path('block_add', { page: page.id }) }}">
        Add a block
    </a>

{% endblock %}
